Options +FollowSymlinks
RewriteEngine on

	#
	# no WWW rule
	#
RewriteCond %{HTTP_HOST} ^pedrojhenriques.com [NC]
RewriteRule ^(.*)$ http://www.pedrojhenriques.com/$1 [L,R=302]

	#
	# process languages
	#

RewriteRule ^([^/\.]+)/?$ index.php?lang=$1 [NC,L]
